@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-*: initial;
  --font-display: var(--roboto);

  --COLOR-PRIMARY: #0a4874;
  --COLOR-TEXT: #111111;
  --COLOR-BORDER: #e8e8e8;
  --COLOR-ERROR: #ff0000;

  --background: #ffffff;
  --foreground: var(--COLOR-TEXT);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--roboto), serif;
}
